.layout {display:none}  /* used to control visibility of symbolBox, svgBox, pivotPoint (none or inline) */
.symbolBox {stroke:black;stroke-width:0.32;}  /* show the cover of the symbol graphics */
.svgBox {stroke:blue;stroke-width:0.32;}  /* show the entire SVG cover */
.pivotPoint {stroke:red;stroke-width:0.64;}  /* show the pivot/anchor point, 0,0 */
.sl {stroke-linecap:round;stroke-linejoin:round} /* default line style elements */
.f0 {fill:none}  /* no fill */
.sNODTA {stroke:#93AEBB}
.fNODTA {fill:#93AEBB}
.sCURSR {stroke:#E38039}  /* sRGB line colour for colour token CURSR */
.fCURSR{fill:#E38039} /* sRGB fill colour for colour token CURSR*/
.sCHBLK {stroke:#000000}
.fCHBLK {fill:#000000}
.sCHGRD {stroke:#4C5B63}
.fCHGRD {fill:#4C5B63}
.sCHGRF {stroke:#768C97}
.fCHGRF {fill:#768C97}
.sCHRED {stroke:#EA5471}
.fCHRED {fill:#EA5471}
.sCHGRN {stroke:#52E93A}
.fCHGRN {fill:#52E93A}
.sCHYLW {stroke:#E1E139}
.fCHYLW {fill:#E1E139}
.sCHMGD {stroke:#C045D1}
.fCHMGD {fill:#C045D1}
.sCHMGF {stroke:#CBA9FA}
.fCHMGF {fill:#CBA9FA}
.sCHBRN {stroke:#A19653}
.fCHBRN {fill:#A19653}
.sCHWHT {stroke:#C9EDFF}
.fCHWHT {fill:#C9EDFF}
.sSCLBR {stroke:#E38039}
.fSCLBR {fill:#E38039}
.sCHCOR {stroke:#E38039}
.fCHCOR {fill:#E38039}
.sLITRD {stroke:#EA5471}
.fLITRD {fill:#EA5471}
.sLITGN {stroke:#52E93A}
.fLITGN {fill:#52E93A}
.sLITYW {stroke:#E1E139}
.fLITYW {fill:#E1E139}
.sISDNG {stroke:#C045D1}
.fISDNG {fill:#C045D1}
.sDNGHL {stroke:#EA5471}
.fDNGHL {fill:#EA5471}
.sTRFCD {stroke:#C045D1}
.fTRFCD {fill:#C045D1}
.sTRFCF {stroke:#CBA9FA}
.fTRFCF {fill:#CBA9FA}
.sLANDA {stroke:#BFBF8F}
.fLANDA {fill:#BFBF8F}
.sLANDF {stroke:#8D642E}
.fLANDF {fill:#8D642E}
.sCSTLN {stroke:#4C5B63}
.fCSTLN {fill:#4C5B63}
.sSNDG1 {stroke:#768C97}
.fSNDG1 {fill:#768C97}
.sSNDG2 {stroke:#000000}
.fSNDG2 {fill:#000000}
.sDEPSC {stroke:#4C5B63}
.fDEPSC {fill:#4C5B63}
.sDEPCN {stroke:#768C97}
.fDEPCN {fill:#768C97}
.sDEPDW {stroke:#C9EDFF}
.fDEPDW {fill:#C9EDFF}
.sDEPMD {stroke:#A7DAFC}
.fDEPMD {fill:#A7DAFC}
.sDEPMS {stroke:#82CAFF}
.fDEPMS {fill:#82CAFF}
.sDEPVS {stroke:#61B8FF}
.fDEPVS {fill:#61B8FF}
.sDEPIT {stroke:#58AF9C}
.fDEPIT {fill:#58AF9C}
.sRADHI {stroke:#52E93A}
.fRADHI {fill:#52E93A}
.sRADLO {stroke:#2E8E20}
.fRADLO {fill:#2E8E20}
.sARPAT {stroke:#2DA879}
.fARPAT {fill:#2DA879}
.sNINFO {stroke:#E38039}
.fNINFO {fill:#E38039}
.sRESBL {stroke:#2E7BFF}
.fRESBL {fill:#2E7BFF}
.sADINF {stroke:#A5A527}
.fADINF {fill:#A5A527}
.sRESGR {stroke:#768C97}
.fRESGR {fill:#768C97}
.sSHIPS {stroke:#000000}
.fSHIPS {fill:#000000}
.sPSTRK {stroke:#000000}
.fPSTRK {fill:#000000}
.sSYTRK {stroke:#768C97}
.fSYTRK {fill:#768C97}
.sPLRTE {stroke:#D63F24}
.fAPLRT {fill:#E38039}
.sAPLRT {stroke:#E38039}
.fPLRTE {fill:#D63F24}
.sUINFD {stroke:#000000}
.fUINFD {fill:#000000}
.sUINFF {stroke:#4C5B63}
.fUINFF {fill:#4C5B63}
.sUIBCK {stroke:#C9EDFF}
.fUIBCK {fill:#C9EDFF}
.sUIAFD {stroke:#61B8FF}
.fUIAFD {fill:#61B8FF}
.sUINFR {stroke:#EA5471}
.fUINFR {fill:#EA5471}
.sUINFG {stroke:#52E93A}
.fUINFG {fill:#52E93A}
.sUINFO {stroke:#E38039}
.fUINFO {fill:#E38039}
.sUINFB {stroke:#2E7BFF}
.fUINFB {fill:#2E7BFF}
.sUINFM {stroke:#C045D1}
.fUINFM {fill:#C045D1}
.sUIBDR {stroke:#4C5B63}
.fUIBDR {fill:#4C5B63}
.sUIAFF {stroke:#BFBF8F}
.fUIAFF {fill:#BFBF8F}
.sOUTLW {stroke:#000000}
.fOUTLW {fill:#000000}
.sOUTLL {stroke:#8D642E}
.fOUTLL {fill:#8D642E}
.sRES01 {stroke:#768C97}
.fRES01 {fill:#768C97}
.sRES02 {stroke:#768C97}
.fRES02 {fill:#768C97}
.sRES03{stroke:#768C97}
.fRES03 {fill:#768C97}
.sBKAJ1 {stroke:#0E1215}
.fBKAJ1 {fill:#0E1215}
.sBKAJ2{stroke:#1C2326}
.fBKAJ2 {fill:#1C2326}
.sMARBL{stroke:#0080FF}
.fMARBL {fill:#0080FF}
.sMARCY{stroke:#008F84}
.fMARCY {fill:#008F84}
.sMARMG{stroke:#C64DA6}
.fMARMG {fill:#C64DA6}
.sMARWH{stroke:#717F77}
.fMARWH {fill:#717F77}
.sSC001 {stroke:#7652E2}
.fSC001 {fill:#7652E2}
.sSC002 {stroke:#4898D3}
.fSC002 {fill:#4898D3}
.sSC003 {stroke:#61CBE5}
.fSC003 {fill:#61CBE5}
.sSC004 {stroke:#6DBC45}
.fSC004 {fill:#6DBC45}
.sSC005 {stroke:#B4DC00}
.fSC005 {fill:#B4DC00}
.sSC006 {stroke:#CDC100}
.fSC006 {fill:#CDC100}
.sSC007 {stroke:#F8A718}
.fSC007 {fill:#F8A718}
.sSC008 {stroke:#F7A29D}
.fSC008 {fill:#F7A29D}
.sSC009 {stroke:#FF1E1E}
.fSC009 {fill:#FF1E1E}
.sBA001 {stroke:#9D0051}
.fBA001 {fill:#9D0051}
.sBA002 {stroke:#A2004C}
.fBA002 {fill:#A2004C}
.sBA003 {stroke:#A80048}
.fBA003 {fill:#A80048}
.sBA004 {stroke:#AD0043}
.fBA004 {fill:#AD0043}
.sBA005 {stroke:#B2003F}
.fBA005 {fill:#B2003F}
.sBA006 {stroke:#B8003A}
.fBA006 {fill:#B8003A}
.sBA007 {stroke:#BD0036}
.fBA007 {fill:#BD0036}
.sBA008 {stroke:#C20031}
.fBA008 {fill:#C20031}
.sBA009 {stroke:#C8002D}
.fBA009 {fill:#C8002D}
.sBA010 {stroke:#CD0028}
.fBA010 {fill:#CD0028}
.sBA011 {stroke:#D30024}
.fBA011 {fill:#D30024}
.sBA012 {stroke:#D8001F}
.fBA012 {fill:#D8001F}
.sBA013 {stroke:#DD001B}
.fBA013 {fill:#DD001B}
.sBA014 {stroke:#E30016}
.fBA014 {fill:#E30016}
.sBA015 {stroke:#E80012}
.fBA015 {fill:#E80012}
.sBA016 {stroke:#ED000D}
.fBA016 {fill:#ED000D}
.sBA017 {stroke:#F30009}
.fBA017 {fill:#F30009}
.sBA018 {stroke:#F80004}
.fBA018 {fill:#F80004}
.sBA019 {stroke:#FE0000}
.fBA019 {fill:#FE0000}
.sBA020 {stroke:#FE0300}
.fBA020 {fill:#FE0300}
.sBA021 {stroke:#FE0700}
.fBA021 {fill:#FE0700}
.sBA022 {stroke:#FE0B00}
.fBA022 {fill:#FE0B00}
.sBA023 {stroke:#FE0F00}
.fBA023 {fill:#FE0F00}
.sBA024 {stroke:#FE1300}
.fBA024 {fill:#FE1300}
.sBA025 {stroke:#FE1700}
.fBA025 {fill:#FE1700}
.sBA026 {stroke:#FE1B00}
.fBA026 {fill:#FE1B00}
.sBA027 {stroke:#FE1F00}
.fBA027 {fill:#FE1F00}
.sBA028 {stroke:#FE2300}
.fBA028 {fill:#FE2300}
.sBA029 {stroke:#FE2700}
.fBA029 {fill:#FE2700}
.sBA030 {stroke:#FE2B00}
.fBA030 {fill:#FE2B00}
.sBA031 {stroke:#FE2F00}
.fBA031 {fill:#FE2F00}
.sBA032 {stroke:#FE3300}
.fBA032 {fill:#FE3300}
.sBA033 {stroke:#FE3600}
.fBA033 {fill:#FE3600}
.sBA034 {stroke:#FE3A00}
.fBA034 {fill:#FE3A00}
.sBA035 {stroke:#FE3E00}
.fBA035 {fill:#FE3E00}
.sBA036 {stroke:#FE4200}
.fBA036 {fill:#FE4200}
.sBA037 {stroke:#FE4600}
.fBA037 {fill:#FE4600}
.sBA038 {stroke:#FE4A00}
.fBA038 {fill:#FE4A00}
.sBA039 {stroke:#FE4E00}
.fBA039 {fill:#FE4E00}
.sBA040 {stroke:#FE5200}
.fBA040 {fill:#FE5200}
.sBA041 {stroke:#FE5600}
.fBA041 {fill:#FE5600}
.sBA042 {stroke:#FE5A00}
.fBA042 {fill:#FE5A00}
.sBA043 {stroke:#FE5E00}
.fBA043 {fill:#FE5E00}
.sBA044 {stroke:#FE6200}
.fBA044 {fill:#FE6200}
.sBA045 {stroke:#FE6600}
.fBA045 {fill:#FE6600}
.sBA046 {stroke:#FE6900}
.fBA046 {fill:#FE6900}
.sBA047 {stroke:#FE6D00}
.fBA047 {fill:#FE6D00}
.sBA048 {stroke:#FE7100}
.fBA048 {fill:#FE7100}
.sBA049 {stroke:#FE7500}
.fBA049 {fill:#FE7500}
.sBA050 {stroke:#FE7900}
.fBA050 {fill:#FE7900}
.sBA051 {stroke:#FE7D00}
.fBA051 {fill:#FE7D00}
.sBA052 {stroke:#FE8100}
.fBA052 {fill:#FE8100}
.sBA053 {stroke:#FE8500}
.fBA053 {fill:#FE8500}
.sBA054 {stroke:#FE8900}
.fBA054 {fill:#FE8900}
.sBA055 {stroke:#FE8D00}
.fBA055 {fill:#FE8D00}
.sBA056 {stroke:#FE9100}
.fBA056 {fill:#FE9100}
.sBA057 {stroke:#FE9500}
.fBA057 {fill:#FE9500}
.sBA058 {stroke:#FE9900}
.fBA058 {fill:#FE9900}
.sBA059 {stroke:#FE9C00}
.fBA059 {fill:#FE9C00}
.sBA060 {stroke:#FEA000}
.fBA060 {fill:#FEA000}
.sBA061 {stroke:#FEA400}
.fBA061 {fill:#FEA400}
.sBA062 {stroke:#FEA800}
.fBA062 {fill:#FEA800}
.sBA063 {stroke:#FEAC00}
.fBA063 {fill:#FEAC00}
.sBA064 {stroke:#FEB000}
.fBA064 {fill:#FEB000}
.sBA065 {stroke:#FEB400}
.fBA065 {fill:#FEB400}
.sBA066 {stroke:#FEB800}
.fBA066 {fill:#FEB800}
.sBA067 {stroke:#FEBC00}
.fBA067 {fill:#FEBC00}
.sBA068 {stroke:#FEC000}
.fBA068 {fill:#FEC000}
.sBA069 {stroke:#FEC400}
.fBA069 {fill:#FEC400}
.sBA070 {stroke:#FEC800}
.fBA070 {fill:#FEC800}
.sBA071 {stroke:#FECC00}
.fBA071 {fill:#FECC00}
.sBA072 {stroke:#FECF00}
.fBA072 {fill:#FECF00}
.sBA073 {stroke:#FED300}
.fBA073 {fill:#FED300}
.sBA074 {stroke:#FED700}
.fBA074 {fill:#FED700}
.sBA075 {stroke:#FEDB00}
.fBA075 {fill:#FEDB00}
.sBA076 {stroke:#FEDF00}
.fBA076 {fill:#FEDF00}
.sBA077 {stroke:#FEE300}
.fBA077 {fill:#FEE300}
.sBA078 {stroke:#FEE700}
.fBA078 {fill:#FEE700}
.sBA079 {stroke:#FEEB00}
.fBA079 {fill:#FEEB00}
.sBA080 {stroke:#FEEF00}
.fBA080 {fill:#FEEF00}
.sBA081 {stroke:#FEF300}
.fBA081 {fill:#FEF300}
.sBA082 {stroke:#FEF700}
.fBA082 {fill:#FEF700}
.sBA083 {stroke:#FEFB00}
.fBA083 {fill:#FEFB00}
.sBA084 {stroke:#FFFF00}
.fBA084 {fill:#FFFF00}
.sBA085 {stroke:#FAFF00}
.fBA085 {fill:#FAFF00}
.sBA086 {stroke:#F5FF00}
.fBA086 {fill:#F5FF00}
.sBA087 {stroke:#F0FF00}
.fBA087 {fill:#F0FF00}
.sBA088 {stroke:#EBFF00}
.fBA088 {fill:#EBFF00}
.sBA089 {stroke:#E6FF00}
.fBA089 {fill:#E6FF00}
.sBA090 {stroke:#E1FF00}
.fBA090 {fill:#E1FF00}
.sBA091 {stroke:#DCFF00}
.fBA091 {fill:#DCFF00}
.sBA092 {stroke:#D7FF00}
.fBA092 {fill:#D7FF00}
.sBA093 {stroke:#D2FF00}
.fBA093 {fill:#D2FF00}
.sBA094 {stroke:#CDFF00}
.fBA094 {fill:#CDFF00}
.sBA095 {stroke:#C9FF00}
.fBA095 {fill:#C9FF00}
.sBA096 {stroke:#C4FF00}
.fBA096 {fill:#C4FF00}
.sBA097 {stroke:#BFFF00}
.fBA097 {fill:#BFFF00}
.sBA098 {stroke:#BAFF00}
.fBA098 {fill:#BAFF00}
.sBA099 {stroke:#B5FF00}
.fBA099 {fill:#B5FF00}
.sBA100 {stroke:#B0FF00}
.fBA100 {fill:#B0FF00}
.sBA101 {stroke:#ABFF00}
.fBA101 {fill:#ABFF00}
.sBA102 {stroke:#A6FF00}
.fBA102 {fill:#A6FF00}
.sBA103 {stroke:#A1FF00}
.fBA103 {fill:#A1FF00}
.sBA104 {stroke:#9CFF00}
.fBA104 {fill:#9CFF00}
.sBA105 {stroke:#98FF00}
.fBA105 {fill:#98FF00}
.sBA106 {stroke:#93FF00}
.fBA106 {fill:#93FF00}
.sBA107 {stroke:#8EFF00}
.fBA107 {fill:#8EFF00}
.sBA108 {stroke:#89FF00}
.fBA108 {fill:#89FF00}
.sBA109 {stroke:#84FF00}
.fBA109 {fill:#84FF00}
.sBA110 {stroke:#7FFF00}
.fBA110 {fill:#7FFF00}
.sBA111 {stroke:#7AFF00}
.fBA111 {fill:#7AFF00}
.sBA112 {stroke:#75FF00}
.fBA112 {fill:#75FF00}
.sBA113 {stroke:#70FF00}
.fBA113 {fill:#70FF00}
.sBA114 {stroke:#6BFF00}
.fBA114 {fill:#6BFF00}
.sBA115 {stroke:#66FF00}
.fBA115 {fill:#66FF00}
.sBA116 {stroke:#62FF00}
.fBA116 {fill:#62FF00}
.sBA117 {stroke:#5DFF00}
.fBA117 {fill:#5DFF00}
.sBA118 {stroke:#58FF00}
.fBA118 {fill:#58FF00}
.sBA119 {stroke:#53FF00}
.fBA119 {fill:#53FF00}
.sBA120 {stroke:#4EFF00}
.fBA120 {fill:#4EFF00}
.sBA121 {stroke:#49FF00}
.fBA121 {fill:#49FF00}
.sBA122 {stroke:#44FF00}
.fBA122 {fill:#44FF00}
.sBA123 {stroke:#3FFF00}
.fBA123 {fill:#3FFF00}
.sBA124 {stroke:#3AFF00}
.fBA124 {fill:#3AFF00}
.sBA125 {stroke:#35FF00}
.fBA125 {fill:#35FF00}
.sBA126 {stroke:#31FF00}
.fBA126 {fill:#31FF00}
.sBA127 {stroke:#2CFF00}
.fBA127 {fill:#2CFF00}
.sBA128 {stroke:#27FF00}
.fBA128 {fill:#27FF00}
.sBA129 {stroke:#22FF00}
.fBA129 {fill:#22FF00}
.sBA130 {stroke:#1DFF00}
.fBA130 {fill:#1DFF00}
.sBA131 {stroke:#18FF00}
.fBA131 {fill:#18FF00}
.sBA132 {stroke:#13FF00}
.fBA132 {fill:#13FF00}
.sBA133 {stroke:#0EFF00}
.fBA133 {fill:#0EFF00}
.sBA134 {stroke:#09FF00}
.fBA134 {fill:#09FF00}
.sBA135 {stroke:#04FF00}
.fBA135 {fill:#04FF00}
.sBA136 {stroke:#00FF00}
.fBA136 {fill:#00FF00}
.sBA137 {stroke:#00FF07}
.fBA137 {fill:#00FF07}
.sBA138 {stroke:#00FF0E}
.fBA138 {fill:#00FF0E}
.sBA139 {stroke:#00FF15}
.fBA139 {fill:#00FF15}
.sBA140 {stroke:#00FF1C}
.fBA140 {fill:#00FF1C}
.sBA141 {stroke:#00FF23}
.fBA141 {fill:#00FF23}
.sBA142 {stroke:#00FF2A}
.fBA142 {fill:#00FF2A}
.sBA143 {stroke:#00FF31}
.fBA143 {fill:#00FF31}
.sBA144 {stroke:#00FF38}
.fBA144 {fill:#00FF38}
.sBA145 {stroke:#00FF3F}
.fBA145 {fill:#00FF3F}
.sBA146 {stroke:#00FF46}
.fBA146 {fill:#00FF46}
.sBA147 {stroke:#00FF4D}
.fBA147 {fill:#00FF4D}
.sBA148 {stroke:#00FF55}
.fBA148 {fill:#00FF55}
.sBA149 {stroke:#00FF5C}
.fBA149 {fill:#00FF5C}
.sBA150 {stroke:#00FF63}
.fBA150 {fill:#00FF63}
.sBA151 {stroke:#00FF6A}
.fBA151 {fill:#00FF6A}
.sBA152 {stroke:#00FF71}
.fBA152 {fill:#00FF71}
.sBA153 {stroke:#00FF78}
.fBA153 {fill:#00FF78}
.sBA154 {stroke:#00FF7F}
.fBA154 {fill:#00FF7F}
.sBA155 {stroke:#00FF86}
.fBA155 {fill:#00FF86}
.sBA156 {stroke:#00FF8D}
.fBA156 {fill:#00FF8D}
.sBA157 {stroke:#00FF94}
.fBA157 {fill:#00FF94}
.sBA158 {stroke:#00FF9B}
.fBA158 {fill:#00FF9B}
.sBA159 {stroke:#00FFA2}
.fBA159 {fill:#00FFA2}
.sBA160 {stroke:#00FFAA}
.fBA160 {fill:#00FFAA}
.sBA161 {stroke:#00FFB1}
.fBA161 {fill:#00FFB1}
.sBA162 {stroke:#00FFB8}
.fBA162 {fill:#00FFB8}
.sBA163 {stroke:#00FFBF}
.fBA163 {fill:#00FFBF}
.sBA164 {stroke:#00FFC6}
.fBA164 {fill:#00FFC6}
.sBA165 {stroke:#00FFCD}
.fBA165 {fill:#00FFCD}
.sBA166 {stroke:#00FFD4}
.fBA166 {fill:#00FFD4}
.sBA167 {stroke:#00FFDB}
.fBA167 {fill:#00FFDB}
.sBA168 {stroke:#00FFE2}
.fBA168 {fill:#00FFE2}
.sBA169 {stroke:#00FFE9}
.fBA169 {fill:#00FFE9}
.sBA170 {stroke:#00FFF0}
.fBA170 {fill:#00FFF0}
.sBA171 {stroke:#00FFF7}
.fBA171 {fill:#00FFF7}
.sBA172 {stroke:#00FFFF}
.fBA172 {fill:#00FFFF}
.sBA173 {stroke:#00F9FF}
.fBA173 {fill:#00F9FF}
.sBA174 {stroke:#00F4FF}
.fBA174 {fill:#00F4FF}
.sBA175 {stroke:#00EFFF}
.fBA175 {fill:#00EFFF}
.sBA176 {stroke:#00EAFF}
.fBA176 {fill:#00EAFF}
.sBA177 {stroke:#00E5FF}
.fBA177 {fill:#00E5FF}
.sBA178 {stroke:#00E0FF}
.fBA178 {fill:#00E0FF}
.sBA179 {stroke:#00DBFF}
.fBA179 {fill:#00DBFF}
.sBA180 {stroke:#00D6FF}
.fBA180 {fill:#00D6FF}
.sBA181 {stroke:#00D1FF}
.fBA181 {fill:#00D1FF}
.sBA182 {stroke:#00CCFF}
.fBA182 {fill:#00CCFF}
.sBA183 {stroke:#00C6FF}
.fBA183 {fill:#00C6FF}
.sBA184 {stroke:#00C1FF}
.fBA184 {fill:#00C1FF}
.sBA185 {stroke:#00BCFF}
.fBA185 {fill:#00BCFF}
.sBA186 {stroke:#00B7FF}
.fBA186 {fill:#00B7FF}
.sBA187 {stroke:#00B2FF}
.fBA187 {fill:#00B2FF}
.sBA188 {stroke:#00ADFF}
.fBA188 {fill:#00ADFF}
.sBA189 {stroke:#00A8FF}
.fBA189 {fill:#00A8FF}
.sBA190 {stroke:#00A3FF}
.fBA190 {fill:#00A3FF}
.sBA191 {stroke:#009EFF}
.fBA191 {fill:#009EFF}
.sBA192 {stroke:#0099FF}
.fBA192 {fill:#0099FF}
.sBA193 {stroke:#0093FF}
.fBA193 {fill:#0093FF}
.sBA194 {stroke:#008EFF}
.fBA194 {fill:#008EFF}
.sBA195 {stroke:#0089FF}
.fBA195 {fill:#0089FF}
.sBA196 {stroke:#0084FF}
.fBA196 {fill:#0084FF}
.sBA197 {stroke:#007FFF}
.fBA197 {fill:#007FFF}
.sBA198 {stroke:#007AFF}
.fBA198 {fill:#007AFF}
.sBA199 {stroke:#0075FF}
.fBA199 {fill:#0075FF}
.sBA200 {stroke:#0070FF}
.fBA200 {fill:#0070FF}
.sBA201 {stroke:#006BFF}
.fBA201 {fill:#006BFF}
.sBA202 {stroke:#0066FF}
.fBA202 {fill:#0066FF}
.sBA203 {stroke:#0060FF}
.fBA203 {fill:#0060FF}
.sBA204 {stroke:#005BFF}
.fBA204 {fill:#005BFF}
.sBA205 {stroke:#0056FF}
.fBA205 {fill:#0056FF}
.sBA206 {stroke:#0051FF}
.fBA206 {fill:#0051FF}
.sBA207 {stroke:#004CFF}
.fBA207 {fill:#004CFF}
.sBA208 {stroke:#0047FF}
.fBA208 {fill:#0047FF}
.sBA209 {stroke:#0042FF}
.fBA209 {fill:#0042FF}
.sBA210 {stroke:#003DFF}
.fBA210 {fill:#003DFF}
.sBA211 {stroke:#0038FF}
.fBA211 {fill:#0038FF}
.sBA212 {stroke:#0033FF}
.fBA212 {fill:#0033FF}
.sBA213 {stroke:#002DFF}
.fBA213 {fill:#002DFF}
.sBA214 {stroke:#0028FF}
.fBA214 {fill:#0028FF}
.sBA215 {stroke:#0023FF}
.fBA215 {fill:#0023FF}
.sBA216 {stroke:#001EFF}
.fBA216 {fill:#001EFF}
.sBA217 {stroke:#0019FF}
.fBA217 {fill:#0019FF}
.sBA218 {stroke:#0014FF}
.fBA218 {fill:#0014FF}
.sBA219 {stroke:#000FFF}
.fBA219 {fill:#000FFF}
.sBA220 {stroke:#000AFF}
.fBA220 {fill:#000AFF}
.sBA221 {stroke:#0005FF}
.fBA221 {fill:#0005FF}
.sBA222 {stroke:#0000FF}
.fBA222 {fill:#0000FF}
.sBA223 {stroke:#0300FA}
.fBA223 {fill:#0300FA}
.sBA224 {stroke:#0700F6}
.fBA224 {fill:#0700F6}
.sBA225 {stroke:#0A00F2}
.fBA225 {fill:#0A00F2}
.sBA226 {stroke:#0E00EE}
.fBA226 {fill:#0E00EE}
.sBA227 {stroke:#1200EA}
.fBA227 {fill:#1200EA}
.sBA228 {stroke:#1500E6}
.fBA228 {fill:#1500E6}
.sBA229 {stroke:#1900E1}
.fBA229 {fill:#1900E1}
.sBA230 {stroke:#1D00DD}
.fBA230 {fill:#1D00DD}
.sBA231 {stroke:#2000D9}
.fBA231 {fill:#2000D9}
.sBA232 {stroke:#2400D5}
.fBA232 {fill:#2400D5}
.sBA233 {stroke:#2700D1}
.fBA233 {fill:#2700D1}
.sBA234 {stroke:#2B00CD}
.fBA234 {fill:#2B00CD}
.sBA235 {stroke:#2F00C8}
.fBA235 {fill:#2F00C8}
.sBA236 {stroke:#3200C4}
.fBA236 {fill:#3200C4}
.sBA237 {stroke:#3600C0}
.fBA237 {fill:#3600C0}
.sBA238 {stroke:#3A00BC}
.fBA238 {fill:#3A00BC}
.sBA239 {stroke:#3D00B8}
.fBA239 {fill:#3D00B8}
.sBA240 {stroke:#4100B4}
.fBA240 {fill:#4100B4}
.sBA241 {stroke:#4400B0}
.fBA241 {fill:#4400B0}
.sBA242 {stroke:#4800AB}
.fBA242 {fill:#4800AB}
.sBA243 {stroke:#4C00A7}
.fBA243 {fill:#4C00A7}
.sBA244 {stroke:#4F00A3}
.fBA244 {fill:#4F00A3}
.sBA245 {stroke:#53009F}
.fBA245 {fill:#53009F}
.sBA246 {stroke:#57009B}
.fBA246 {fill:#57009B}
.sBA247 {stroke:#5A0097}
.fBA247 {fill:#5A0097}
.sBA248 {stroke:#5E0092}
.fBA248 {fill:#5E0092}
.sBA249 {stroke:#61008E}
.fBA249 {fill:#61008E}
.sBA250 {stroke:#65008A}
.fBA250 {fill:#65008A}
.sBA251 {stroke:#690086}
.fBA251 {fill:#690086}
.sBA252 {stroke:#6C0082}
.fBA252 {fill:#6C0082}
.sBA253 {stroke:#70007E}
.fBA253 {fill:#70007E}
.sBA254 {stroke:#74007A}
.fBA254 {fill:#74007A}
.sBA255 {stroke:#74007A}
.fBA255 {fill:#74007A}

